@path-prefix: "../node_modules/";
@path-bootstrap:  "@{path-prefix}bootstrap/less/";
@path-bootswatch: "@{path-prefix}bootswatch/superhero/";

@import "@{path-bootstrap}variables.less";
@import "@{path-bootstrap}mixins.less";
@import "@{path-bootstrap}normalize.less";
@import "@{path-bootstrap}scaffolding.less";
@import "@{path-bootstrap}type.less";
@import "@{path-bootstrap}grid.less";
@import "@{path-bootstrap}forms.less";
@import "@{path-bootstrap}buttons.less";

@import "@{path-bootstrap}button-groups.less";
@import "@{path-bootstrap}input-groups.less";
@import "@{path-bootstrap}navs.less";
@import "@{path-bootstrap}navbar.less";
@import "@{path-bootstrap}thumbnails.less";
@import "@{path-bootstrap}media.less";
@import "@{path-bootstrap}list-group.less";
@import "@{path-bootstrap}responsive-embed.less";
@import "@{path-bootstrap}wells.less";
@import "@{path-bootstrap}close.less";

@import "@{path-bootstrap}utilities.less";
@import "@{path-bootstrap}responsive-utilities.less";

@import "@{path-bootswatch}bootswatch.less";
@import "@{path-bootswatch}variables.less";

@body-bg: #6f7070;

@brand-primary: #7e959c;
@brand-success: #96D096;
@brand-danger:  #EC6F64;

@thumbnail-padding: 0px;
@thumbnail-border: none;


body {
    margin-top: 20px;
}

canvas {
    width: 100%;
}